/*  ---------------------------------------------------------- */

/* PRIMER CONTAINER */
/* .botonAzul {
    background: #5265E1;
} */

.imagen {
    position: relative;
}

.cilindro1 {
    background: $primary;
    height: 225px;
    width: 360px;
    position: absolute;
    border-top-left-radius: 35%;
    border-bottom-left-radius: 35%;
    margin-left: 7%;
}

/* PRIMER CONTAINER */

/* SEGUNDO CONTAINER */
#myTab {
    border-bottom: none;

    li button {
        border-left: none;
        border-right: none;
        border-top: none;

        &.active {
            border-bottom-color: $secondary;
            border-width: 3px;
        }

        &:hover {
            border-color: transparent !important;
        }
    }
}

.imagen3 {
    position: relative;
}

.cilindro3 {
    background: $primary;
    height: 245px;
    width: 365px;
    position: absolute;
    border-top-right-radius: 35%;
    border-bottom-right-radius: 35%;
    margin-top: 7rem;
    margin-right: 13%;
}

.imagen4 {
    position: relative;
}

.cilindro4 {
    background: $primary;
    height: 245px;
    width: 365px;
    position: absolute;
    border-top-right-radius: 35%;
    border-bottom-right-radius: 35%;
    margin-top: 7rem;
    margin-right: 13%;
}

/* SEGUNDO CONTAINER */

/* TERCER CONTAINER */

.imagen2 {
    position: relative;
}

.cilindro2 {
    background: $primary;
    height: 245px;
    width: 374px;
    position: absolute;
    border-top-right-radius: 35%;
    border-bottom-right-radius: 35%;
    margin-right: 10%;
}

/* TERCER CONTAINER */

/* CARDS CONTAINER */

.card {
    border-radius: 7%;
}

/* CARDS CONTAINER */

/* FOOTER CONTAINER */

.footerAzul {
    background: $primary;
}

.botonRojo {
    background-color: $secondary;
}

.footerNegro {
    background: #232845;
}

.featuresFooter {
    font-size: 60%;
}

/* FOOTER CONTAINER */